*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #333e50;
}

.container__header {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 15vh;
    max-width: 100%;
    padding-left: 5%;
    align-items: center;
    background-color: #333e50;
    flex-direction: row-reverse;
}

.container__header img {
    width: 120px;
    height: auto;
}

.container__header p{
    font-size: 26px; 
    padding: 0 30px;   
    color: #fff;
}

/*INTRODUCTION*/
.container__introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    height: auto;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px;
    background-color: #dce0e6;
}


.container__introduction h1 {
    text-align: left;
    font-size: 32px;
    padding-bottom: 20px;
    font-weight: 500;
}

.container__introduction p {
    font-size: 22px;
    max-width: 90%;
    text-align: justify;
}

.container__bowser {
    display: flex;
    flex-direction: row-reverse;
    margin: 50px;
    justify-content: center;
}

.div__balloon {
    position: relative;
    width: 50%;
    padding: 10px 0 10px 25px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 20px;
  }

.div__balloon::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px; 
    margin-top: -10px; 
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #000; 
}

.div__balloon p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.button__startgame {
    width: 20%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
}

/*GAME*/
.container__main {
    display: none;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    height: auto;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px;
    background-color: #dce0e6;
}

.game__button:hover {
    transform: scale(1.1);
}

.container__toad {
    display: flex;
    flex-wrap: wrap;
}

.container__toad p {
    font-size: 22px;
}

.toad__image img{
    width: 200px;
    height: auto;
}

.div__balloon__toad {
    position: relative;
    width: 50%;
    padding: 5px 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
  }
  
  .div__balloon__toad::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px; 
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #000 transparent transparent; 
  }
  
  .div__balloon__toad p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }

.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 100px 0;
    gap: 50px;
    flex-wrap: wrap;
    border-radius: 20px;
}

.container__image button {
    cursor: pointer;
    border: 2px solid black;
    appearance: none;
}

.container__results {
    display: none;
    justify-content: right;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 50px;
}

.container__results img {
    width: 200px;
    height: auto;
}

.blockquote__results {
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    background-color: #fff; 
    color: #000; 
    padding: 20px;
    border-radius: 10px;
    max-width: 300px; 
    border: 2px solid #000;
}

.blockquote__results h4 {
    font-weight: 400;
    margin: 0;
    font-size: 22px;
    padding-bottom: 10px;
}

.blockquote__results h5 {
    font-weight: 400;
    margin: 5px 0;
    font-size: 18px;
}

.blockquote__results::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px; 
    border-width: 10px; 
    border-style: solid;
    border-color: transparent transparent transparent #000; 
}

.hide {
    display: none;
}

.hide__off {
    display: flex;
}

@media (max-width:1025px ) { 
    
    .container__introduction, .container__main {
        max-width: 70%;
    }

    .container__introduction h1 {
        font-size: 28px;
    }

    .container__introduction p {
        font-size: 20px;
    }

}

@media (max-width: 770px) {

    .container__header, .container__introduction, .container__main {
        box-sizing: border-box;
    }

    .container__bowser {
        margin: 50px 0;
    }

    .div__balloon p {
        font-size: 18px;
    }

    .container__main {
       max-width: 95%;
    }
}

@media (max-width: 430px) {
    .container__header {
        padding: 0;
    }

    .container__header p {
        font-size: 24px;
    }

    .container__introduction h1 {
        font-size: 24px;
    }

    .container__introduction p {
        font-size: 18px;
    }

    .container__bowser {
        flex-wrap: wrap;
    }

    .container__bowser img {
        width: 200px;
        height: auto;
        padding-bottom: 20px;
    }

    .div__balloon {
        width: 100%;
        margin: 0;
    }

    .div__balloon::before {
        top: 0;
        right: 140px;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #000 transparent;
    }

    .button__startgame {
        width: 30%;
    }

    .container__main {
        max-width: 95%;
     }

     .container__toad {
        justify-content: center;
     }

     .container__toad p {
        font-size: 20px;
        padding: 0 10px 15px 10px;
     }

     .toad__image img {
        width: 150px;
     }

     .div__balloon__toad::before {
        top: 0;
        left: 80px;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #000 transparent;
     }

     .container__results{
        flex-wrap: wrap;
        justify-content: center;
     }

     .container__results h4 {
        font-size: 20px;
     }

     .blockquote__results {
        margin: 0;
     }

     .blockquote__results::before {
        top: 0;
        left: 140px;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #000 transparent;
     }

     .button__startgame {
        width: 50%;
     }

}

.score-display{
    height: 100px;
    background-color: #333e50;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.score, .round
{
    display: flex;
    gap: 10px;

}

.winner-display
{

    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: green;
    margin: 5px;
}